<p></p>
<div style="align-items:center;justify-content:center; align-self:center;
margin: auto; font-family:Arial, Helvetica, sans-serif;
font-size: 20px; line-height: 1.6; max-width: 600px">
  <h1 style="margin-top:100px;text-align:center;color:rgb(241, 62, 62)">
    Let's go!
  </h1>
<p style="margin-top: 10px;">Welcome, <strong>{{student}}!</strong></br>
<p style="margin-top: 10px;">Thank you for being part of <strong>GymPoint!</strong></p style="margin-top: 10px;"></div>
<p style="margin-top: 10px;">Your current plan is the <strong>{{title}} </strong>
plan, whose total amount is <strong>R${{price}},00</strong> and lasts for <strong>{{duration}} months.</strong></br>
<p style="margin-top: 10px;">You can begin training on
<strong>{{startDate}} </strong> up until <strong>{{endDate}}.</strong></br>
<strong><h2>Some tips</h2></strong>
  <ul style="list-style:none;margim-bottom:35px;position:relative;top: -10px;">
    <li><strong style="color:rgb(241, 62, 62)">1.</strong>
      Be focused
    </li>
    <li><strong style="color:rgb(241, 62, 62)">2.</strong>
      Felt that it's light increase the load
    </li>
    <li><strong style="color:rgb(241, 62, 62)">3.</strong>
      Remember: No Pain, No Gain
    </li>
    <li><strong style="color:rgb(241, 62, 62)">4.</strong>
      You are already a monster for being part of GymPoint
    </li>
  </ul>
<strong><h2 style="color:rgb(241, 62, 62);">Let's training!</h2></strong>

